<%% title "<%= plural_name.titleize %>" %>

<%% content_for :links do -%>
  <%- if action? :new -%>
    <%%= link_to "Novo <%= singular_name.titleize %>", <%= item_path :action => :new %> %>
  <%- end -%>
<%% end -%>
   
<table>
  <tr>
  <%- for attribute in model_attributes -%>
    <th><%%= tlink "<%= attribute.human_name.titleize %>", "<%= attribute.name %>" %></th>
  <%- end -%>
    <th colspan="3">&nbsp;</th>
  </tr>
  <%% @<%= instances_name %>.each do |<%= instance_name %>|  %>
    <tr>
    <%- for attribute in model_attributes -%>
      <td><%%= <%= instance_name %>.<%= attribute.name %> %></td>
    <%- end -%>
    <%- if action? :show -%>
      <td><%%= link_to "Detalhes", <%= item_path %> %></td>
    <%- end -%>
    <%- if action? :edit -%>
      <td><%%= link_to "Editar", <%= item_path :action => :edit %> %></td>
    <%- end -%>
    <%- if action? :destroy -%>
      <td><%%= link_to "Apagar", <%= item_path %>, :confirm => 'Você tem certeza?', :method => :delete %></td>
    <%- end -%>
    </tr>
  <%% end %>
</table>



