<%% title "<%= singular_name.titleize %>" %>

<%- for attribute in model_attributes -%>
<p>
  <strong><%= attribute.human_name.titleize %>:</strong>
  <%%= @<%= instance_name %>.<%= attribute.name %> %>
</p>
<%- end -%>

<%% content_for :links do -%>
  <%- if action? :edit -%>
    <%%= link_to "Editar", <%= item_path :action => :edit, :instance_variable => true %> %> |
  <%- end -%>
  <%- if action? :destroy -%>
    <%%= link_to "Apagar", <%= item_path :instance_variable => true %>, :confirm => 'Are you sure?', :method => :delete %> |
  <%- end -%>
  <%- if action? :index -%>
    <%%= link_to "Ver todos", <%= items_path %> %>
  <%- end -%>
<% end -%>

